<div class="flex w-full flex-col gap-5 pt-5">
  <div class="flex gap-2">
    <p-floatlabel class="w-full">
      <p-multiselect fluid appendTo="body" showClear="true" [virtualScroll]="true"
        [options]="projects" [(ngModel)]="projectsSelected"
        optionLabel="name" optionValue="id" class="w-full" />
      <label for="email">Aplicativos</label>
    </p-floatlabel>
    <p-button label="Adicionar" outlined="true" (onClick)="addAccess()"/>
  </div>
  <div class="w-full">
    <p-table #dt
      [value]="accesses.length ? accesses : skeleton"
      [lazy]="true"
      [paginator]="true"
      [alwaysShowPaginator]="false"
      [pageLinks]="3"
      [rows]="10"
      [rowsPerPageOptions]="[10, 50, 100]"
      [filterDelay]="1000"
      [rowHover]="true"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} equipes"
      paginatorDropdownAppendTo="body"
      tableStyleClass="w-full h-full"
      size="small">
      <ng-template #header>
        <tr>
          <th>
            Nome
          </th>
          <th style="width: 6rem;">Ações</th>
        </tr>
      </ng-template>
      <ng-template #body let-access>
        <tr *ngIf="accesses.length">
          <td>{{ access.projectName }}</td>
          <td>
            <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (onClick)="removeAccess($event, access.projectId)" />
          </td>
        </tr>
        <tr *ngIf="!requestReturned && !accesses.length">
          <td><p-skeleton /></td>
          <td><p-skeleton /></td>
          <td><p-skeleton /></td>
        </tr>
        <tr *ngIf="requestReturned && !accesses.length">
          <td colspan="4" style="text-align: center;">
            Nenhum aplicativo encontrado.
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="w-full flex justify-end">
    <p-button label="Salvar" (onClick)="save()"/>
  </div>
</div>