<aside id="logo-sidebar" #aside class="fixed top-0 left-0 z-40 w-64 h-screen" aria-label="Sidebar">
	<div class="h-full px-3 py-4 bg-white dark:bg-gray-800">
		<a routerLink="/home" class="flex items-center ps-2.5">
			<img src="assets/images/empregUFU.png" class="h-8 me-3 sm:h-10" alt="EmpregUFU Logo" />
			<span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">EmpregUFU</span>
		</a>
		<ul class="flex flex-col py-5 h-[95%] overflow-y-auto font-medium">
			<li>
				<a routerLink="/jobs" routerLinkActive="bg-gray-100 text-customblue-600 dark:bg-gray-700"
					class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:text-customblue-600 dark:hover:bg-gray-700 group">
					<i class="text-xl bi bi-briefcase"></i>
					<span class="ms-3">Vagas</span>
				</a>
			</li>
			<li>
				<a routerLink="/applies" routerLinkActive="bg-gray-100 text-customblue-600 dark:bg-gray-700"
					class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:text-customblue-600 dark:hover:bg-gray-700 group">
					<i class="text-xl bi bi-send-arrow-down"></i>
					<span class="ms-3">Candidaturas</span>
				</a>
			</li>
			<li>
				<a routerLink="/saved" routerLinkActive="bg-gray-100 text-customblue-600 dark:bg-gray-700"
					class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:text-customblue-600 dark:hover:bg-gray-700 group">
					<i class="text-xl bi bi-heart"></i>
					<span class="ms-3">Salvas</span>
				</a>
			</li>
			<li>
				<a routerLink="/notifications" routerLinkActive="bg-gray-100 text-customblue-600 dark:bg-gray-700"
					class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:text-customblue-600 dark:hover:bg-gray-700 group">
					<i class="text-xl bi bi-app-indicator"></i>
					<span class="ms-3">Notificações</span>
				</a>
			</li>
			<li>
				<a routerLink="/profile" routerLinkActive="bg-gray-100 text-customblue-600 dark:bg-gray-700"
					class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:text-customblue-600 dark:hover:bg-gray-700 group">
					<i class="text-xl bi bi-person"></i>
					<span class="ms-3">Meu Perfil</span>
				</a>
			</li>
			<li class="mt-auto">
				<a (click)="logout($event)" role="button"
					class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:text-red-500 hover:bg-gray-100 dark:hover:bg-gray-700 group">
					<i class="text-xl bi bi-people"></i>
					<span class="ms-3">Sair</span>
				</a>
			</li>
		</ul>
	</div>
</aside>

<div class="relative p-4 sm:ml-64 h-screen">
	<router-outlet></router-outlet>
	<div class="pointer-events-none absolute z-[-1] inset-0 w-full h-full flex justify-center items-center opacity-50">
		<img src="assets/images/empregUFU-bg-less.png" width="200" />
	</div>
</div>
