<div class="flex flex-col w-full h-full">
  <div class="card flex flex-col lg:flex-row w-full gap-5 bg-white">
    <p-floatlabel class="w-full">
      <p-multi-select  
      inputId="company_filter"
      [options]="companies"
      [(ngModel)]="jobFilter.companies"
      showClear
      fluid />
      <label for="company_filter">Filtrar por Empresa</label>
    </p-floatlabel>
    <p-floatlabel class="w-full">
      <p-multi-select 
      inputId="category_filter"
      [options]="categories"
      [(ngModel)]="jobFilter.categories"
      showClear
      fluid />
      <label for="category_filter">Filtrar por categoria</label>
    </p-floatlabel>
    <p-floatlabel class="w-full">
      <p-multi-select 
      inputId="skills_filter"
      [options]="skills"
      [(ngModel)]="jobFilter.skills"
      optionLabel="name"
      showClear
      fluid />
      <label for="skills_filter">Filtrar por habilidades</label>
    </p-floatlabel>
    <p-floatlabel class="w-full">
      <p-multi-select 
      inputId="modality_filter"
      [options]="['Remoto', 'Presencial', 'Híbrido']"
      [(ngModel)]="jobFilter.modality"
      showClear
      fluid />
      <label for="modality_filter">Filtrar por modalidade</label>
    </p-floatlabel>
    <p-floatlabel class="w-full">
      <p-datepicker 
        inputId="date_filter" 
        showIcon 
        iconDisplay="input" 
        appendTo="body" 
        dateFormat="dd/mm/yy" 
        [(ngModel)]="jobFilter.date"
        showClear
        fluid />
      <label for="date_filter">Filtrar por data</label>
    </p-floatlabel>
    <p-button icon="pi pi-filter" label="Filtrar" (onClick)="filterJobs()"/>
    <p-button icon="pi pi-eraser" severity="secondary" label="Limpar" (onClick)="clearFilters()"/>
  </div>
  <p-dataview #dv 
    [value]="jobsFiltered" 
    paginator="true" 
    alwaysShowPaginator="false"
    rows="5" 
    [rowsPerPageOptions]="[5,10,50,100]"
    paginatorDropdownAppendTo="body">
    <ng-template #list let-items>
      <div class="flex flex-col w-full gap-5 bg-gray-100 mb-5">
        <div class="flex col p-6 gap-4 bg-white rounded-border" 
          *ngFor="let item of items;">
          <div class="md:w-40 relative">
            <img
              class="block xl:block mx-auto rounded-border w-full"
              [src]="item.companyPhoto"
              [alt]="item.name"
            />
          </div>
          <div class="flex w-full justify-between">
            <div class="flex flex-col justify-between gap-2">
              <div class="flex flex-col w-full gap-2">
                <div class="text-lg font-medium text-surface-900">
                  {{ item.name }}
                </div>
                <div class="font-medium text-secondary text-sm">
                  {{ item.companyName }}
                </div>
                <div class="flex gap-2">
                  <p-tag *ngFor="let sk of item.skills" [value]="sk.name"/>
                </div>
              </div>
              <div class="font-medium text-secondary text-sm">
                Vaga registrada em: {{ item.createdAt | date: "dd/MM/yyyy" }}
              </div>
            </div>
            <div class="flex flex-col justify-between md:items-end gap-8">
              <p-tag severity="secondary"
                class="text-xl font-semibold text-surface-900 dark:text-surface-0"
                > {{ item.category }}
              </p-tag>
              <div class="flex flex-row-reverse md:flex-row gap-2">
                <p-button
                  class="flex-auto md:flex-initial whitespace-nowrap"
                  label="Visualizar vaga"
                  (onClick)="detailJob(item.id)"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template #emptymessage>
      <div class="card flex w-full justify-center">
        Você não possui vagas salvas
      </div>
    </ng-template>
  </p-dataview>
</div>
